.principal {
  background-image: url("./fundo.jpg");
} 

.giphy {
  position: fixed;
  width: 250px;
  height: 100px;
  left: 28%;
  margin-left: 10px;
  top: 30%;
  margin-top: -50px;
}














